header.md-header {
  background: radial-gradient(farthest-corner at 0px 6000px,#61045f 0%,#282d4c 100%) !important;
}

@media screen and (min-width: 1220px) { 
  header .md-header-nav__button {
    padding: 0 !important;
  } 
}

.md-header {
  height: 5rem !important;
}

/* Related to embedded expo.io */
.expo {
  overflow: hidden;
  background:#fafafa;
  border: 1px solid rgba(0,0,0,.16);
  border-radius: 4px;
  height: 505px;
  width: 100%;
  margin-top: 20px;
}
